# Read Data From JSON

In [3]:
# Am creating initial record file here manually
import json
record= {'101':{'name':'Choco Cake','pr':100,'qn': 34},
         '102':{'name':'Milk Cake','pr':800,'qn': 100},
         '103':{'name':'Drink','pr':85,'qn': 84},
         '104':{'name':'Candy','pr':5,'qn': 1000},
         '105':{'name':'Blue Pen','pr':20,'qn': 100},
         '106':{'name':'Black Pen','pr':10,'qn': 34},
         '107':{'name':'Red Pen','pr':10,'qn': 34},
         '108':{'name':'Pencil','pr':5,'qn':30 },
         '109':{'name':'Fountain Pen','pr':50,'qn': 24}}
s = json.dumps(record)         
f = open("record.json","w")
f.write(s)
f.close()

In [5]:
f = open("record.json","r")
r = f.read()
f.close()

In [6]:
record = json.loads(r)
record

{'101': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '102': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '103': {'name': 'Drink', 'pr': 85, 'qn': 84},
 '104': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '105': {'name': 'Blue Pen', 'pr': 20, 'qn': 100},
 '106': {'name': 'Black Pen', 'pr': 10, 'qn': 34},
 '107': {'name': 'Red Pen', 'pr': 10, 'qn': 34},
 '108': {'name': 'Pencil', 'pr': 5, 'qn': 30},
 '109': {'name': 'Fountain Pen', 'pr': 50, 'qn': 24}}

# Add New Items In Inventory

In [41]:
# If the product id is already there, then only quantity is raised
prod_id = input("Enter the product id:")
name = input(" Enter name:")
prs = int(input("Enter price:"))
qty = int(input("Enter quantity:"))
flag =0
for i in record:
  if i == prod_id:   # checking if prod_id previously exist
    record[i]['qn'] += qty
    flag =1
    break
if flag==0:  # if it does not exist
   record[prod_id] ={'name': name, 'pr': prs, 'qn': qty}

Enter the product id:130
 Enter name:Sharpener
Enter price:5
Enter quantity:7

In [42]:
record

{'101': {'name': 'Choco Cake', 'pr': 100, 'qn': 34},
 '102': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '103': {'name': 'Drink', 'pr': 85, 'qn': 89},
 '104': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '105': {'name': 'Blue Pen', 'pr': 20, 'qn': 100},
 '106': {'name': 'Samsung Phone', 'pr': 12000, 'qn': 4},
 '107': {'name': 'Red Pen', 'pr': 10, 'qn': 34},
 '108': {'name': 'Pencil', 'pr': 5, 'qn': 30},
 '109': {'name': 'Fountain Pen', 'pr': 50, 'qn': 24},
 '110': {'name': 'Samsung phone', 'pr': 12000, 'qn': 4},
 '111': {'name': 'MI phone', 'pr': 10000, 'qn': 9},
 '112': {'name': '5g Phone', 'pr': 20000, 'qn': 2},
 '113': {'name': 'Juice', 'pr': 15, 'qn': 20},
 '114': {'name': 'Kitkat', 'pr': 10, 'qn': 39},
 '115': {'name': 'Kitkat', 'pr': 20, 'qn': 3},
 '116': {'name': 'Kitkat', 'pr': 50, 'qn': 7},
 '117': {'name': 'Dairy Milk', 'pr': 10, 'qn': 10},
 '118': {'name': 'Dairy MIlk', 'pr': 40, 'qn': 2},
 '119': {'name': 'Dairy Milk', 'pr': 80, 'qn': 1},
 '120': {'name': 'Five Star', 'pr': 20, 'qn': 16},
 '121': {'name': 'Five Star', 'pr': 30, 'qn': 6},
 '122': {'name': 'Notebook', 'pr': 35, 'qn': 50},
 '123': {'name': 'Registers', 'pr': 50, 'qn': 32},
 '124': {'name': 'Red Bull', 'pr': 35, 'qn': 89},
 '125': {'name': 'Kurkure', 'pr': 10, 'qn': 40},
 '126': {'name': 'Green Lays', 'pr': 10, 'qn': 34},
 '127': {'name': 'Blue Lays', 'pr': 10, 'qn': 3},
 '128': {'name': 'Red Lays', 'pr': 10, 'qn': 10},
 '129': {'name': 'Rubber', 'pr': 3, 'qn': 4},
 '130': {'name': 'Sharpener', 'pr': 5, 'qn': 7}}

In [43]:
js = json.dumps(record)

f = open("record.json","w")
f.write(js)
f.close()